/* グローバル設定 */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #EDD8B7;
  padding-top: 56px; /* ヘッダーの高さ分の余白 */
  padding-bottom: 176px; /* フッターの高さ分の余白 */
  margin: 0;
}

h1 { font-size: 47.78px; }
h2 { font-size: 39.81px; }
h3 { font-size: 33.18px; }
h4 { font-size: 27.65px; }
h5 { font-size: 23.04px; }
h6 { font-size: 19.2px; }
p { font-size: 16px; }
small { font-size: 13.33px; }

/* コンテナ */
.container{
  background-color: #EDD8B7;
  width: 880px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

/* record 課題リスト*/
.lesson-chapter{
  background-color: #B59D83;
  font-size: 39.81px;
  margin: 0 auto;
  padding: 20px;
}

/* ヘッダーとフッター */
.header, .footer {
  background-color: #5A433C;
  color: #FFFFFF;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header {
  top: 0;
  height: 56px;
}

.footer {
  bottom: 0;
  height: 176px;
}

/* ナビゲーション */
.nav-link, .navbar-brand {
  color: #FFFFFF !important;
}

/* ボタン */
.btn-custom {
  background-color: #5A433C;
  color: #FFFFFF;
}

/* リストアイテム */
.list-group-item {
  background-color: #B59D83;
  border-color: white;
  font-size: 39.81px;
  height: 96px;
}

/* バッジ */
.badge-custom {
  background-color: #5A433C;
  color: white;
}

/* フッターメニュー */
.footer .menu-button {
  margin: 0 10px;
}

/* アコーディオン */
.accordion_header {
  height: 72px;
  cursor: pointer;
  padding: 10px;
  background-color: #5A433C;
  color: white;
  border: 1px solid white;
}

.accordion_inner {
  display: none;
  padding-left: 20px;
  background-color: #5A433C;
}
