<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="w3-contener w3-top w3-bar w3-black" style="padding-left: 2%;padding-right: 2%;">
        <button class="w3-bar-item w3-button">ホーム</button>
        <button class="w3-bar-item w3-button">学習</button>
        <button class="w3-bar-item w3-button">追加</button>
        <button class="w3-bar-item w3-button w3-right w3-red" id="username">ようこそ<%= locals.username %></button>
    </div>
    <div class="w3-content w3-grey w3-padding" style=" margin-top:38.5px; max-width:80%">
        <input type="text" class="w3-border w3-cell w3-input w3-round" style="max-width: 40%;">
        <button class="w3-button w3-cell w3-blue w3-round">Add</button>
    </div>
</body>
</html>