<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>samplepage</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body style="background-color:gainsboro">
    <form action="/login" method="post" id="myform" class="w3-container w3-display-middle w3-card-2 w3-white" style="height: 400px; width:400px" autocomplete="off">
        <div class="w3-contener">
            <h2 class="w3-center w3-text-blue">ログイン</h2>
            <div class="w3-section">
                <label class="w3-text-blue">User-Name</label>
                <input class="w3-input w3-border w3-round" type="text" placeholder="ユーザー名" required name="name" id="name">
            </div>
            
            <div class="w3-section">
                <label class="w3-text-blue">Password</label>
                <label id="failed" class="w3-text-red w3-block w3-hide">※パスワードが間違っています</label>
                <input class="w3-input w3-border w3-round" type="password" placeholder="パスワード" name="pass" required id="pass">    
            </div>
            <button class="w3-button w3-blue w3-block" type="submit" id="submitbutton">ログイン</button>
        </div>
    </form>
    
    <script>
        window.addEventListener('pageshow',()=>{
            document.getElementById('myform').reset();
        })
    </script>
</body>
</html>