<div class="card mt-4" _msthidden="4">
    <div style="background-color: #EDD8B7;">
        <div class="card-body" _msthidden="3">
            <div>
                <h4 class="card-title" _msttexthash="134446" _msthidden="1" _msthash="667"><%= lang.title %></h4>
                <% progress.forEach(function(prog) { %>
                    <%- include('username',{user:prog}) %>
                <% }); %>
            </div>
        </div>
    </div>
</div>